.UserPageCombinedContainers{
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.UserPageCombinedContainers button{
  border-radius: 4px;
}
.UserPageGroupContainter{
  background-image: url(../../images/TallShelf.png);
  height: 40vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 20px;
 
}
.ShelfTitle{
  margin-bottom: 0 
}
.SingleBookContainer{
  display: flex;
  overflow: auto;
  white-space: nowrap;
}
.singleBook{
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  max-height: 14em;
}
.BookImage{
  height: 10em;
  width: 8em;
  margin: 2px;
}
.BookImageForSingleCollection{
  height: 10em;
  width: 8em;
  margin: 2px 2px 2px 2px;
}

@media screen and (min-width: 600px){ 
  .UserPageGroupContainter{
    padding: 30px 15px 3px 15px
  }
  

}