.UserPageCombinedContainers{
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.UserPageCombinedContainers button{
  border-radius: 4px;
}
.UserPageGroupContainter{
  background-image: url(../../images/TallShelf.png);
  min-height: 40vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 20px;
 
}
.SingleBookContainer{
  display: flex;
  overflow: auto;
  white-space: nowrap;
}
.singleBook{
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  max-height: 14em;
}
.BookImage{
  height: 10em;
  width: 8em;
  margin: 2px;
}