.NavBar{
  background-color: rgb(244, 234, 213);
  width: 100vw;
  height: 10vh;
}
.navBar  h1 {
  margin: 8px 0px;
  size: 2em;
}

.Initials{
  background-color: white;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
@media screen and (max-width: 600px){ 
  .SearchBar{
  display: none
  }
  .WebsiteName{
    display: none
  }
 .BigScreenSearchLink{
    display: none
  }
}
@media screen and (min-width: 599px){ 
  .SmallSearchIcon{
  display: none
  }
  .WebsiteInitials{
    display: none
  }
 

}


