.NavBar{
  background-color: rgb(244, 234, 213);

}
.navBar  h1 {
  margin: 8px 0px;
  size: 2em;
}
@media screen and (max-width: 600px){ 
  .SearchBar{
  display: none
  }

}
@media screen and (min-width: 599px){ 
  .SmallSearchIcon{
  display: none
  }

}
.SearchBar2{
  width: 100vw
}
.ant-input-group-wrapper{
  width: 40vw !important;
  margin-right: 30px;
}




