.NavBar{
  background-color: rgb(244, 234, 213);
  width: 100vw;

}
.navBar  h1 {
  margin: 8px 0px;
  size: 2em;
}
.Menu{

}
.Initials{
  background-color: white;
  border-radius: 100%
}
@media screen and (max-width: 600px){ 
  .SearchBar{
  display: none
  }
  .WebsiteName{
    display: none
  }

}
@media screen and (min-width: 599px){ 
  .SmallSearchIcon{
  display: none
  }
  .WebsiteInitials{
    display: none
  }

}


