.LoginMainDiv{
  background-image: url(../../images/bookshelf_background.jpg);
 background-size: cover;
 height: calc(100vh - 15vh);
 display: flex;
 justify-content: center;
 align-content: center;
 align-items: center
}

.LoginBox{
  box-shadow: 8px 5px 5px;
  background: rgb(244, 234, 213);
  height: 30vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
border-radius: 6px;  
}
.WebsiteName:hover{
  cursor: pointer;
}
.BigScreenSearchLink:hover{
  cursor: pointer;
}
.Initials:hover{
  cursor: pointer;
}
.InputDiv{
width: 80%
}
@media screen and (max-width: 599px){ 
  .SmallScreenPrompt{
  display: none
  }
}
@media screen and (min-width: 600px){  
  .LoginBox{
    width: 50vw
  }
}
button:hover{
  cursor: pointer;
}