.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -----------NAV BAR----------- */
.NavBar{
  height: 75px;
  background-color: tan;
}

.NavBarMainDiv{
  display: flex;
  justify-content: space-around;
}
.NavBarLeftDiv{

}
.NavBarRightDiv{
}

/*----------------NYT Page-----------*/
.LandingMainDiv{ 
 display: flex;
 flex-direction: column
}

.NYTBestsellers{
  background-image: url(./images/bookshelf.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: auto;
  white-space: nowrap;
  height: 40vh;
}
.NYTBestsellerContainer{
  display: flex;
  overflow: auto;
  white-space: nowrap;
}
.FeaturedBooksContainer{
  display: flex;
  justify-content: space-around;
}
.LandingPageAdBooks{
  background-image: url(./images/bookshelf.png);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  width: 99.38vw;
  align-items: flex-end;
  height: 30vh;
}
.BookShelfBottom{
  background-image: url(./images/bookshelf.png);
  background-size: cover;
  height: 1em;
  width: 99.38vw;
}

.NYTBestSellerBookImg{
  height: 10em;
  width: 8em;
}
.FeaturedBook{
  height: 10em;
  width: 8em; 
  background: white;
  
}

/*  --------------User Page--------------*/


.UserPageCombinedContainters{
  display: flex;
  flex-direction: column;
}
.UserPageGroupContainter{
  background-image: url(./images/bookshelf.png);
  min-height: 40vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
 
}
.SingleBookContainer{
  display: flex;
  overflow: auto;
  white-space: nowrap;
}
.singleBook{
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-height: 10em;
}
.BookImage{
  height: 10em;
  width: 8em;
}
/*------------------Login------------------------ */

.LoginMainDiv{
  background-image: url(./images/bookshelf_background.jpg);
 background-size: cover;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-content: center;
 align-items: center
}
/* .LoginMainDivOpacitySheet{
  background-color: gray;
  opacity: .5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center
} */
.LoginBox{
  border: 2px solid black;
  background: tan;
  height: 20vh;
  width: 50vw;
  
}
::-webkit-scrollbar {


}
.BookButton{
  background: none;
  border: none
}
/* ---------Book Page--------------- */
.BookPageMainDiv{
  background-image: url(./images/bookpage_background.png);
   background-size: cover;
   padding-top: 2em
}

/* -----------Users Personal Library ----------*/

.UserPagebookshelfContainer{
  display: flex;
  flex-direction: column;
  height: 30vh;
}
.UsersPersonalLibraryContainer{
  background-image: url(./images/bookshelf.png);  
  background-size: 100vw 13em;
  /* min-height: 720px; This line is keeping the page fill, but it also messes up the spacing vertically */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.UserPersonalNav{
  display: flex;
  justify-content: center;
  background: tan;
}
.UserPersonalNav h6{
margin: 5px;
}
.UserPersonalPagesTitles{
  background-image: url(./images/bookpage_background.png);
  background-size: cover;
  font-size: 40px

}


/* -----------Book Search Page ---------------- */
.BookSearchPage{
  background-image: url(./images/bookpage_background.png);
  background-size: cover;
  height: 100vh;
}

.SearchResultBookshelf{
  background-image: url(./images/bookshelf.png);
  background-size: cover;
  padding: 9px
}

