.App {
  text-align: center;
}
.Footer{
  background-color: rgb(244, 234, 213);
  width: 100vw;
  height: 2vh;
  position: fixed;
  bottom: 0
}
.BookButton{
  background: none;
  border: none;
}
.BookButton:hover{
 cursor: pointer
}
@media screen and (max-height: 550px){ 
 .NavBar{
   height: 15vh;
 }
 }
/* -----------Users Personal Library ----------*/

.UserPagebookshelfContainer{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
  /* background-image: url(./images/bookshelf.png);   */
  background-size: 100vw 30vh;
  background-repeat: repeat-y;
}
.UsersPersonalLibraryContainer{
  background-image: url(./images/bookshelf.png);  
  background-size: 100vw 13.75em;
  min-height: 50em; 
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;  
}
.UserPersonalNav{
  display: flex;
  justify-content: center;
  background: tan;
}
.UserPersonalNav h6{
margin: 5px;
}
.UserPersonalPagesTitles{
  background-image: url(./images/bookpage_background.png);
  background-size: cover;
  font-size: 40px;
}



