.App {
  text-align: center;

}




/* -----------NAV BAR----------- */

/*----------------NYT Page-----------*/
.LandingMainDiv{ 
 display: flex;
 flex-direction: column;
 /* background-image: url(./images/bookshelf.png);
 background-size: 100vw 250px; */
}

.NYTBestsellers{
  background-image: url(./images/bookshelf.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: auto;
  white-space: nowrap;
  height: 40vh;
  padding: 25px 15px 15px 15px;
}
.NYTBestsellerContainer{
  display: flex;
  overflow: auto;
  white-space: nowrap;
}
.FeaturedBooksContainer{
  display: flex;
  justify-content: space-around;
}
.LandingPageAdBooks{
  /* background-image: url(./images/bookshelf.png); */
  background-size: cover;
  display: flex;
  justify-content: space-around;
  width: 99.38vw;
  align-items: flex-end;
  height: 30vh;
}
.BookShelfBottom{
  background-image: url(./images/bookshelf.png);
  background-size: cover;
  height: 1em;
  width: 99.38vw;
}

.NYTBestSellerBookImg{
  height: 10em;
  width: 8em;
}
.FeaturedBook{
  height: 10em;
  width: 8em; 
  background: white;
  margin: 1em;
  
}

/*  --------------User Page--------------*/


.UserPageCombinedContainers{
  display: flex;
  flex-direction: column;
  /* background-image: url(./images/bookshelf.png);
  background-size: 100vw 265px; */
}

.UserPageCombinedContainers button{
  border-radius: 4px;
}
.UserPageGroupContainter{
  background-image: url(./images/bookshelf.png);
  min-height: 40vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 20px;
 
}
.SingleBookContainer{
  display: flex;
  overflow: auto;
  white-space: nowrap;
}
.singleBook{
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  max-height: 14em;
}
.BookImage{
  height: 10em;
  width: 8em;
  margin: 3px;
}
/*------------------Login------------------------ */

.LoginMainDiv{
  background-image: url(./images/bookshelf_background.jpg);
 background-size: cover;
 height: calc(100vh - 75px);
 display: flex;
 justify-content: center;
 align-content: center;
 align-items: center
}
/* .LoginMainDivOpacitySheet{
  background-color: gray;
  opacity: .5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center
} */
.LoginBox{
  box-shadow: 8px 5px 5px;
  background: rgb(244, 234, 213);
  height: 30vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
border-radius: 6px;
  
}
.InputDiv{
width: 80%
}
::-webkit-scrollbar {


}
.BookButton{
  background: none;
  border: none
}
/* ---------Book Page--------------- */
.BookPageMainDiv{
  background-image: url(./images/bookpage_background.png);
   background-size: cover;
   padding-top: 2em;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.SearchImage{
  width: 18em;
  height: 25em;
}
.SummaryDiv{
  margin: 5px 40px;
}
.Footer{
  background-color: rgb(87, 59, 7);
  height: 25px;
}

/* -----------Users Personal Library ----------*/

.UserPagebookshelfContainer{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
  /* background-image: url(./images/bookshelf.png);   */
  background-size: 100vw 30vh;
  background-repeat: repeat-y;
}
.UsersPersonalLibraryContainer{
  background-image: url(./images/bookshelf.png);  
  background-size: 100vw 14em;
  min-height: 50em; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start
  
}
.UserPersonalNav{
  display: flex;
  justify-content: center;
  background: tan;
}
.UserPersonalNav h6{
margin: 5px;
}
.UserPersonalPagesTitles{
  background-image: url(./images/bookpage_background.png);
  background-size: cover;
  font-size: 40px;

}


/* -----------Book Search Page ---------------- */
.BookSearchPage{
  background-image: url(./images/bookpage_background.png);
  background-size: cover;
  height: 100vh;
}

.SearchResultBookshelf{
  background-image: url(./images/bookshelf.png);
  background-size: 100vw 335.62px;
  background-size: cover;

}

.ReturnedSearchInfoDiv{
  background-image: url(./images/bookshelf.png);
  background-size: cover;
  padding: 22px;
  height: 335.62;
}
.SearchBarDiv{
  display: flex;
  justify-content: center
}
@media screen and (min-width: 600px){ 
  .SearchBarDiv{
  display: none
  }
}
.SearchBar{
  width: 100%;
  
}

